<div class="productions">
  <div class="status__box_top">
    <%= link_to "Saito Yuki", root_path, class:"status__box_top_name"%>
  </div>
  <h1>手がけてきたもの</h1>
  <div class="productions_guide">
  <h2 class="productions_guide__title">1. バートリー4丁目</h2>
    <div class="productions_guide__contents">
      <h3>Summary</h3>
      <ul>
        <li>コーヒーショップの創業</li>
        <li>新潟市内のゲストハウス「なり」を間借りし、土日限定営業を行う</li>
        <li>バリスタとしての専門性を高めると共に、お店を運営する経験を獲得</li>
      </ul>
    </div>
  <h2 class="productions_guide__title">2. The Brewers</h2>
    <div class="productions_guide__contents">
      <h3>Summary</h3>
      <ul>
        <li>コーヒーレシピの共有サイト</li>
        <li>Ruby on Rails, Javascripを利用</li>
        <li>最初のオリジナル制作アプリケーション</li>
      </ul>
    </div>
  </div>
</div>
