<div class="productions">
  <h1>手がけてきたもの</h1>
  <div class="productions_guide">
  <h2 class="productions_guide__title">1. バートリー4丁目</h2>
    <div class="productions_guide__done">
      <h3>Summary</h3>
      <ul>
        <li>コーヒーショップの創業</li>
        <li>新潟市内のゲストハウス「なり」を間借りし、土日限定営業を行う</li>
        <li>バリスタとしての専門性を高めると共に、お店を運営する経験を獲得</li>
      </ul>
    </div>
  </div>
</div>
