<div class="status">
  <div class="status__box">
    <div class="status__box_photo">
      <%= image_tag("portfolio_photo.jpg" , class:"top_image") %>
    </div>
    <div class="status__box_middle">
      <div class="status__box_middle_left">
        <h2 class="status__box_middle_left_title">Status</h2>
      </div>
      <div class="status__box_middle_right">
        <h2 class="status__box_middle_right_title">It's me!!</h2>
      </div>
    </div>
</div>
</div>